{% extends 'layout_main.html' %} {% block content %}

<div id="AMT_submit_active">
  <!-- <img src="{{ url_for('static', filename='img/submit_button.JPG') }}" id="AMT_button" alt="Click here to submit the task"> -->

  <div id="end-dialog-message" title="Ready to submit?">
  </div>
  <form id="endForm" action="{{ name.amazon_host }}" method="POST">
    <input type="hidden" id="user-input" value="" name="user-input" />
    <input type="hidden" id="assignmentId" value="{{ name.assignment_id }}" name="assignmentId" />
    <input type="hidden" id="workerId" value="{{ name.worker_id }}" name="workerId" />
    <input type="hidden" id="hitId" value="{{ name.hit_id }}" name="hitId" />
  </form>
</div>


<div class="container">

  <div class="row">
    <div class="col-lg-12" class="card card-body">
      <h2 align="center">Main Task</h2>
   </div>
</div>
  <div class="row">
    <!-- Colomn for submit task -->

    <!-- colomn for score board -->
    <div class="col-lg-12" class="card card-body">

      <table style="width:100%" border="1">
        <tr bgcolor="#99cc00">
          <td text-align: left;><b>Waiting Stage:</b></td>
          <td text-align: left;><b>waited: {{name.time_waited}}</b></td>
          <td text-align: left;><b>Fix Reward: {{name.fix_price}}</b></td>
          <td text-align: left;><b>Bonus Earned: {{name.reward}}</b></td>
        </tr
        <tr bgcolor="#99cc00">
          <td text-align: left;><b>Active Stage:</b></td>
          <td text-align: left;><b>Work-related Bonus</b></td>
          <td text-align: left;><b>replace this row with work-related bonuses (if any)</b></td>
          <td text-align: left;><b>Bonus: $</b></td>
        </tr>
  <tr bgcolor="#99cc00">
    <td text-align: left;></td>
    <td text-align: left;><b>Time Elapsed: </b></td>
    <td text-align: left;><b><span id="timer"></b></td>
    <td text-align: left;><span id="reward"></td>
  </tr>
</table>

</div>
</div>

<div class="row">
  <hr>
  <div class="col-lg-12">
    <section id="contents">
      <h4 align="center">ADD THE CONTENTS OF YOUR MAIN TASK HERE</h4>
      <h3 align="center"><span id="worker_count"></span></h3>
    </section>
  </div>
</div>

<div class="row">
  <div class="d-flex justify-content-center">

    <div class="col-lg-12" class="card card-body">
      <section id="submit_task_active">
        <button type="button" class="btn btn-primary btn-lg btn-block" id="submit_task">SUBMIT THIS TASK?</button>
      </section>
    </div>

  </div>
</div>
</div>
<!-- End of container -->

<script type="text/javascript" src="{{url_for('static', filename='js/timer.js')}}"></script>

<script type="text/javascript" src="{{url_for('static', filename='js/main_task.js')}}"></script>


{% endblock %}
